@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply flex min-h-full flex-col;
  }

  #__next {
    @apply contents;
  }
}

@layer utilities {
  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .preserve-3d {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}